.container{
    background-color: rgba(255, 223, 105, 0.87);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #494848;
    border-radius: 10px;
    color: #494947;
}
img{
    border: 12px solid #494848;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 70px;
}
.inner_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 40px;
}
.paragraph{
    font-size: 18px;
    color: #696967;
}
.infoOfUser{
    margin-left: 70px;
}